# format per https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
* @rstudio/infraops @rstudio/platform-cloud

# package-manager resources
/charts/rstudio-pm/* @rstudio/ppm

# connect resources
/charts/rstudio-connect/* @aronatkins @dbkegley @christierney @zackverham
/examples/connect/* @aronatkins @dbkegley @christierney @zackverham
