# format per https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
* @colearendt @atheriel

# package-manager resources
/charts/rstudio-pm/* @rstudio/rspm-dev

# connect resources
/charts/rstudio-connect/* @rstudio/connect
/examples/connect/* @rstudio/connect
