{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "rstudio.disclaimer" . }}

{{ template "rstudio.install" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
