{{- $useLegacyProfiles := hasKey .Values.config.server "launcher.kubernetes.profiles.conf" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rstudio-workbench.fullname" . }}
  namespace: {{ $.Release.Namespace }}
spec:
  strategy:
    type: {{ .Values.strategy.type }}
    {{- if eq .Values.strategy.type "RollingUpdate" }}
    rollingUpdate:
      maxUnavailable: {{ .Values.strategy.rollingUpdate.maxUnavailable }}
      maxSurge: {{ .Values.strategy.rollingUpdate.maxSurge }}
    {{- end }}
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "rstudio-workbench.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config-general: {{ include (print $.Template.BasePath "/configmap-general.yaml") . | sha256sum }}
        checksum/config-graphite: {{ include (print $.Template.BasePath "/configmap-graphite-exporter.yaml") . | sha256sum }}
        checksum/config-prestart: {{ include (print $.Template.BasePath "/configmap-prestart.yaml") . | sha256sum }}
        checksum/config-secret: {{ include (print $.Template.BasePath "/configmap-secret.yaml") . | sha256sum }}
        checksum/config-session: {{ include (print $.Template.BasePath "/configmap-session.yaml") . | sha256sum }}
      {{- if .Values.prometheusExporter.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9108"
      {{- end }}
{{ include "rstudio-workbench.pod.annotations" . | indent 8 }}
      labels:
        {{- include "rstudio-workbench.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.rbac.create }}
      serviceAccountName: {{ include "rstudio-workbench.fullname" . }}
      {{- end }}
      {{- if and (not .Values.rbac.create) (.Values.serviceAccountName) }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      shareProcessNamespace: {{ .Values.shareProcessNamespace }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers }}
      initContainers:
{{ toYaml .Values.initContainers | indent 8 }}
      {{- end }}
{{ include "rstudio-workbench.containers" . | indent 6 }}
