{{- if .Values.sharedStorage.create }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{default (print (include "rstudio-workbench.fullname" .) "-shared-storage" ) .Values.sharedStorage.name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
{{ .Values.sharedStorage.annotations | toYaml | indent 4}}
spec:
  accessModes:
    {{- .Values.sharedStorage.accessModes | toYaml | nindent 4 }}
  volumeMode: Filesystem
  {{- if .Values.sharedStorage.storageClassName }}
  storageClassName: {{ .Values.sharedStorage.storageClassName }}
  {{- end }}
  {{- with .Values.sharedStorage.volumeName }}
  volumeName: {{ . }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.sharedStorage.requests.storage }}
  {{- with .Values.sharedStorage.selector }}
  selector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
{{- end }}
{{- if .Values.homeStorage.create }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{default (print (include "rstudio-workbench.fullname" .) "-home-storage" ) .Values.homeStorage.name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    {{- .Values.homeStorage.accessModes | toYaml | nindent 4 }}
  volumeMode: Filesystem
  {{- if .Values.homeStorage.storageClassName }}
  storageClassName: {{ .Values.homeStorage.storageClassName }}
  {{- end }}
  {{- with .Values.homeStorage.volumeName }}
  volumeName: {{ . }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.homeStorage.requests.storage }}
  {{- with .Values.homeStorage.selector }}
  selector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
{{- end }}
