---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rstudio-workbench.fullname" . }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "rstudio-workbench.labels" . | nindent 4 }}
{{- with .Values.service.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
{{- if and (eq .Values.service.type "ClusterIP") .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
{{- end }}
{{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
{{- end }}
  selector:
    {{- include "rstudio-workbench.selectorLabels" . | nindent 4 }}
  ports:
  - protocol: TCP
    name: http
    port: {{ .Values.service.port }}
{{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
{{- end }}
    targetPort: 8787
  {{- if .Values.prometheus.enabled }}
  - name: metrics
    targetPort: metrics
    {{- if .Values.prometheus.legacy }}
    port: 9108
    {{- else }}
    port: {{ .Values.prometheus.port }}
    {{- end }}
  {{- end }}
