image:
  repository: "ghcr.io/rstudio/chronicle"
  tag: "2024.11.0"
  imagePullPolicy: "IfNotPresent"

serviceaccount:
  create: false
  # -- Additional annotations to add to the chronicle-server serviceaccount
  annotations: {
    # EKS role arn example
    # eks.amazonaws.com/role-arn: my-aws-iam-role-arn
  }
  # -- Additional labels to add to the chronicle-server serviceaccount
  labels: {}

service:
  # -- The port to use for the REST service
  port: 80
  # -- Additional annotations to add to the chronicle-server service
  annotations: {}
  # -- Additional labels to add to the chronicle-server service
  labels: {}
  # -- Additional selector labels to add to the chronicle-server service
  selectorLabels: {}

# -- The number of replica pods to maintain for this service
replicas: 1

# -- A map used verbatim as the pod's "nodeSelector" definition
nodeSelector: {}

pod:
  # -- The command and args to run in the chronicle-server container
  command: "/chronicle"
  args: ["start", "-c", "/etc/posit-chronicle/posit-chronicle.gcfg"]
  # -- Optional environment variables
  env: []
  # -- Additional annotations to add to the chronicle-server pods
  annotations: {}
  # -- Additional labels to add to the chronicle-server pods
  labels: {}
  # -- Additional selector labels to add to the chronicle-server pods
  selectorLabels: {}
  # -- A map used verbatim as the pod's "affinity" definition
  affinity: {}
  # -- An array used verbatim as the pod's "tolerations" definition
  tolerations: []
  # -- The termination grace period seconds allowed for the pod before shutdown
  terminationGracePeriodSeconds: 30

# If config.LocalStorage.Enabled is set to true,
# the chart will provision a pvc of size storage.persistentVolumeSize for
# the chronicle server stateful-set
storage:
  persistentVolumeSize: 1Gi

config:
  HTTPS:
    # If https.enabled=true, ignore any http
    # values and enable https in the config instead
    Enabled: false
    Key: ""
    Certificate: ""
  Metrics:
    Enabled: true
  Profiling:
    Enabled: false
  Logging:
    ServiceLog: "STDOUT"
    ServiceLogLevel: "INFO"
    ServiceLogFormat: "TEXT"
  LocalStorage:
    # By default LocalStorage.Enabled=true, so that installs work with the default values
    Enabled: true
    Location: "./chronicle-data"
    RetentionPeriod: "30d"
  S3Storage:
    Enabled: false
    Bucket: "posit-chronicle"
    Prefix: ""
    Profile: ""
    # An AWS region must be set if S3 Storage is enabled
    Region: "us-east-2"
