---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rstudio-pm.fullname" . }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "rstudio-pm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/aws-creds: {{ include (print $.Template.BasePath "/secret-aws-creds.yaml") . | sha256sum }}
        checksum/key: {{ include (print $.Template.BasePath "/secret-rstudio-pm-key.yaml") . | sha256sum }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "2112"
        {{- if .Values.enableSandboxing }}
        # Required for sandboxed Git builds.
        container.apparmor.security.beta.kubernetes.io/rspm: unconfined
        {{- end }}
        {{- include "rstudio-pm.pod.annotations" . | nindent 8 }}
      labels:
        {{- include "rstudio-pm.selectorLabels" . | nindent 8 }}
        {{- with .Values.pod.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.pod.securityContext }}
      securityContext:
        {{- toYaml .Values.pod.securityContext | nindent 8 }}
      {{- end }}
      {{- if .Values.pod.serviceAccountName }}
      serviceAccountName: {{ .Values.pod.serviceAccountName }}
      {{- else }}
      serviceAccountName: {{ include "rstudio-pm.serviceAccountName" . }}
      {{- end }}
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers }}
      initContainers:
        {{- toYaml .Values.initContainers | nindent 8 }}
      {{- end }}
      containers:
      - name: rspm
        {{- $defaultVersion := .Values.versionOverride | default $.Chart.AppVersion }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default $defaultVersion }}"
        env:
        {{- include "rstudio-library.license-env" (dict "license" ( .Values.license ) "product" ("rstudio-pm") "envVarPrefix" ("RSPM") "fullName" (include "rstudio-pm.fullname" .)) | nindent 8 }}
        {{- if .Values.pod.env }}
        {{- toYaml .Values.pod.env | nindent 8 }}
        {{- end }}
        {{- if .Values.rstudioPMKey }}
        - name: PACKAGEMANAGER_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "rstudio-pm.fullname" . }}-rstudio-pm-key
              key: rstudio-pm.key
        {{- end }}
        {{- if (not .Values.enableSandboxing) }}
        - name: PACKAGEMANAGER_GIT_ALLOWUNSANDBOXEDGITBUILDS
          value: "1"
        {{- end }}
        {{- if .Values.command }}
        command: {{ .Values.command}}
        {{- end }}
        {{- if .Values.args }}
        args: {{ .Values.args }}
        {{- end }}
        imagePullPolicy: "{{ .Values.image.imagePullPolicy }}"
        {{- if .Values.pod.lifecycle }}
        lifecycle:
          {{- toYaml .Values.pod.lifecycle | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 4242
{{- if .Values.config.Metrics.Enabled }}
        - name: metrics
          containerPort: 2112
{{- end }}
        securityContext:
        {{- if .Values.pod.containerSecurityContext }}
          {{- tpl (toYaml .Values.pod.containerSecurityContext) . | nindent 10 }}
        {{- end }}
        volumeMounts:
          - name: rstudio-pm-config
            mountPath: "/etc/rstudio-pm/rstudio-pm.gcfg"
            subPath: "rstudio-pm.gcfg"
          {{- if .Values.awsAccessKeyId }}
          - name: aws-creds
            readOnly: true
            mountPath: "/home/rstudio-pm/.aws"
          {{- end }}
          {{- if or .Values.sharedStorage.create .Values.sharedStorage.mount }}
          - name: rstudio-pm-data
            mountPath: "{{ .Values.sharedStorage.path }}"
          {{- end }}
          {{- include "rstudio-library.license-mount" (dict "license" ( .Values.license )) | nindent 10 }}
          {{- if .Values.pod.volumeMounts }}
          {{- toYaml .Values.pod.volumeMounts | nindent 10 }}
          {{- end }}
        resources:
          {{- if .Values.resources.requests.enabled }}
          requests:
            memory: "{{ .Values.resources.requests.memory }}"
            cpu: "{{ .Values.resources.requests.cpu }}"
            ephemeral-storage: "{{ .Values.resources.requests.ephemeralStorage }}"
          {{- end }}
          {{- if .Values.resources.limits.enabled }}
          limits:
            memory: "{{ .Values.resources.limits.memory }}"
            cpu: "{{ .Values.resources.limits.cpu }}"
            ephemeral-storage: "{{ .Values.resources.limits.ephemeralStorage }}"
          {{- end }}
        {{- if .Values.livenessProbe.enabled }}
          {{- $liveness := omit .Values.livenessProbe "enabled" }}
          {{- with $liveness }}
        livenessProbe:
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
        {{- if .Values.startupProbe.enabled }}
          {{- $startup := omit .Values.startupProbe "enabled" }}
          {{- with $startup}}
        startupProbe:
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
          {{- $readiness := omit .Values.readinessProbe "enabled" }}
          {{- with $readiness }}
        readinessProbe:
            {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
      {{- if .Values.extraContainers }}
        {{- toYaml .Values.extraContainers | nindent 6 }}
      {{- end }}
      volumes:
      - name: rstudio-pm-config
        configMap:
          name: {{ include "rstudio-pm.fullname" . }}-config
          items:
          - key: rstudio-pm.gcfg
            path: "rstudio-pm.gcfg"
      {{- if .Values.awsAccessKeyId }}
      - name: aws-creds
        secret:
          secretName: {{ include "rstudio-pm.fullname" . }}-aws-creds
      {{- end }}
      {{- if or .Values.sharedStorage.create .Values.sharedStorage.mount }}
      - name: rstudio-pm-data
        persistentVolumeClaim:
          claimName: {{default (print (include "rstudio-pm.fullname" .) "-shared-storage" ) .Values.sharedStorage.name }}
      {{- end }}
      {{ include "rstudio-library.license-volume" (dict "license" ( .Values.license ) "fullName" (include "rstudio-pm.fullname" .)) | indent 6 }}
      {{- if .Values.pod.volumes }}
      {{- toYaml .Values.pod.volumes | nindent 6 }}
      {{- end }}
---
