{{- if .Values.sharedStorage.create }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{default (print (include "rstudio-pm.fullname" .) "-shared-storage" ) .Values.sharedStorage.name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    {{- .Values.sharedStorage.annotations | toYaml | nindent 4}}
spec:
  accessModes:
    {{- .Values.sharedStorage.accessModes | toYaml | nindent 4 }}
  volumeMode: Filesystem
  {{- if .Values.sharedStorage.storageClassName }}
  storageClassName: {{ .Values.sharedStorage.storageClassName }}
  {{- end }}
  {{- with .Values.sharedStorage.volumeName }}
  volumeName: {{ . }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.sharedStorage.requests.storage }}
  {{- with .Values.sharedStorage.selector }}
  selector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
{{- end }}
