---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rstudio-connect.fullname" . }}-config
  namespace: {{ $.Release.Namespace }}
data:
  rstudio-connect.gcfg: |
    {{- include "rstudio-connect.config" . | nindent 4 }}
{{- $sessionTemplate := deepCopy .Values.launcher.templateValues }}
{{- if .Values.launcher.enabled }}
  runtime.yaml: |
    {{- include "rstudio-connect.runtimeYaml" . | nindent 4 }}
  {{- /* configuration for job customization (also used below) */ -}}
    {{- /* 1 - volume */ -}}
      {{- $emptyRscVolume := dict "name" ("rsc-volume") "emptydir" (dict) }}
      {{- $jobJsonRuntimeVolume := dict "target" ("/spec/template/spec/volumes/-") "name" ("defaultRuntimeConnectVolume") "json" ( $emptyRscVolume ) }}
    {{- /* 2 - volumeMount */ -}}
      {{- $rscVolumeMountR := dict "name" ("rsc-volume") "mountPath" ("/opt/rstudio-connect/R") "subPath" ("R") }}
      {{- $rscVolumeMountPython := dict "name" ("rsc-volume") "mountPath" ("/opt/rstudio-connect/python") "subPath" ("python") }}
      {{- $rscVolumeMountScripts := dict "name" ("rsc-volume") "mountPath" ("/opt/rstudio-connect/scripts") "subPath" ("scripts") }}
      {{- $rscVolumeMountExt := dict "name" ("rsc-volume") "mountPath" ("/opt/rstudio-connect/ext") "subPath" ("ext") }}
      {{- $jobJsonRuntimeMountR := dict "target" ("/spec/template/spec/containers/0/volumeMounts/-") "name" ("defaultRuntimeContainerVolumeMountR") "json" ( $rscVolumeMountR ) }}
      {{- $jobJsonRuntimeMountPython := dict "target" ("/spec/template/spec/containers/0/volumeMounts/-") "name" ("defaultRuntimeContainerVolumeMountPython") "json" ( $rscVolumeMountPython ) }}
      {{- $jobJsonRuntimeMountScripts := dict "target" ("/spec/template/spec/containers/0/volumeMounts/-") "name" ("defaultRuntimeContainerVolumeMountScripts") "json" ( $rscVolumeMountScripts ) }}
      {{- $jobJsonRuntimeMountExt := dict "target" ("/spec/template/spec/containers/0/volumeMounts/-") "name" ("defaultRuntimeContainerVolumeMountExt") "json" ( $rscVolumeMountExt ) }}
    {{- /* 3 - init container */ -}}
      {{- $defaultVersion := .Values.versionOverride | default $.Chart.AppVersion }}
      {{- $initContainerImageTag := .Values.launcher.defaultInitContainer.tag | default (printf "%s%s" .Values.launcher.defaultInitContainer.tagPrefix $defaultVersion )}}
      {{- $initContainerImage := print .Values.launcher.defaultInitContainer.repository ":" ( $initContainerImageTag ) }}
      {{- $initContainerPullPolicy := default "IfNotPresent" .Values.launcher.defaultInitContainer.imagePullPolicy }}
      {{- $initContainerResources := .Values.launcher.defaultInitContainer.resources }}
      {{- $initContainerSecurityContext := .Values.launcher.defaultInitContainer.securityContext }}
      {{- $initContainerVolumeMount := dict "name" ("rsc-volume") "mountPath" ("/mnt/rstudio-connect-runtime/") }}
      {{- $initContainerJson := dict "name" ("init") "image" ($initContainerImage) "imagePullPolicy" ($initContainerPullPolicy) "resources" ($initContainerResources) "volumeMounts" ( list  $initContainerVolumeMount ) "securityContext" $initContainerSecurityContext }}
      {{- $jobJsonInitContainer := dict "target" ("/spec/template/spec/initContainers/0") "name" ("defaultInitContainer") "json" $initContainerJson }}
    {{- /* set up job-json defaults */ -}}
      {{- $jobJsonDefaults := list }}
      {{- if and (not .Values.launcher.useTemplates) .Values.launcher.defaultInitContainer.enabled }}
        {{- $jobJsonDefaults = list $jobJsonRuntimeVolume $jobJsonRuntimeMountR $jobJsonRuntimeMountPython $jobJsonRuntimeMountScripts $jobJsonRuntimeMountExt $jobJsonInitContainer }}
      {{- end }}
    {{- /* build the configuration for profiles */ -}}
      {{- $profilesConfig := .Values.launcher.launcherKubernetesProfilesConf }}
      {{- $completeProfilesConfig := dict "launcher.kubernetes.profiles.conf" ($profilesConfig) }}
      {{- $jobJsonFilePath := "/mnt/job-json-overrides/" }}
      {{- $profilesArg := dict "data" ($completeProfilesConfig | deepCopy) "jobJsonDefaults" ($jobJsonDefaults | deepCopy) "filePath" $jobJsonFilePath }}
    {{- /*
      may still need profiles, even if using templating (i.e. for resources, etc.)
      */ -}}
    {{- include "rstudio-library.profiles.ini.advanced" $profilesArg | nindent 2 }}
    {{- /* append the jobJson stuff onto the template values */ -}}
    {{- if and .Values.launcher.useTemplates .Values.launcher.defaultInitContainer.enabled }}
      {{- $initList := append $sessionTemplate.pod.initContainers $initContainerJson }}
      {{- $_ := set $sessionTemplate.pod "initContainers" $initList }}
      {{- $volumeList := append $sessionTemplate.pod.volumes $emptyRscVolume }}
      {{- $_ := set $sessionTemplate.pod "volumes" $volumeList }}
      {{- $volumeMountList := concat $sessionTemplate.pod.volumeMounts (list $rscVolumeMountR $rscVolumeMountPython $rscVolumeMountScripts $rscVolumeMountExt ) }}
      {{- $_ := set $sessionTemplate.pod "volumeMounts" $volumeMountList }}
    {{- end }}
    {{- $_ := set $sessionTemplate.sharedStorage "name" (default (print (include "rstudio-connect.fullname" .) "-shared-storage" ) .Values.sharedStorage.name) }}
    {{- /* capture sharedStorage subPath for job volumeMounts */ -}}
    {{- if .Values.sharedStorage.subPath }}
      {{- $_ := set $sessionTemplate.sharedStorage "subPath" .Values.sharedStorage.subPath }}
    {{- end }}
{{- if not .Values.launcher.useTemplates }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rstudio-connect.fullname" . }}-overrides
  namespace: {{ $.Release.Namespace }}
data:
  {{- /* configuration _files_ for job-json-overrides (uses variables from above) */ -}}
  {{- $configValue := dict "data" ($profilesConfig | deepCopy) "default" ($jobJsonDefaults | deepCopy) }}
  {{- include "rstudio-library.profiles.json-from-overrides-config" $configValue | indent 2 }}
{{- end }}
{{- if .Values.launcher.useTemplates }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rstudio-connect.fullname" . }}-templates
  namespace: {{ $.Release.Namespace }}
data:
  {{- if .Values.launcher.includeTemplateValues }}
  rstudio-library-templates-data.tpl: |
    {{- $tplData := dict "name" "rstudio-library.templates.data" "value" $sessionTemplate }}
    {{- include "rstudio-library.templates.dataOutput" $tplData | nindent 4}}
  {{- end }}
  {{- if .Values.launcher.includeDefaultTemplates }}
  job.tpl: |
    {{- .Files.Get "files/job.tpl" | nindent 4 }}
  service.tpl: |
    {{- .Files.Get "files/service.tpl" | nindent 4 }}
  {{- end }}
  {{- range $key, $val := .Values.launcher.extraTemplates }}
  {{ $key }}: |
    {{- $val | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
