---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rstudio-connect.fullname" . }}
  namespace: {{ $.Release.Namespace }}
spec:
  strategy:
    type: {{ .Values.strategy.type }}
    {{- if eq .Values.strategy.type "RollingUpdate" }}
    rollingUpdate:
      maxUnavailable: {{ .Values.strategy.rollingUpdate.maxUnavailable }}
      maxSurge: {{ .Values.strategy.rollingUpdate.maxSurge }}
    {{- end }}
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "rstudio-connect.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if and .Values.prometheus.legacy .Values.prometheusExporter.enabled }}
        checksum/config-graphite: {{ include (print $.Template.BasePath "/configmap-graphite-exporter.yaml") . | sha256sum }}
        {{- end }}
        {{- if .Values.launcher.enabled }}
        checksum/config-prestart: {{ include (print $.Template.BasePath "/configmap-prestart.yaml") . | sha256sum }}
        {{- end }}
      {{- if .Values.prometheus }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        {{- if and .Values.prometheus.legacy .Values.prometheusExporter.enabled }}
        prometheus.io/port: "9108"
        {{- else }}
        prometheus.io/port: {{ .Values.prometheus.port | quote }}
        {{- end }}
      {{- end }}
{{ include "rstudio-connect.pod.annotations" . | indent 8 }}
      labels:
        {{- include "rstudio-connect.selectorLabels" . | nindent 8 }}
        {{- with .Values.pod.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.pod.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.pod.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{/**
         * NOTE: In the case where a service account was in use and
         * then later removed, the behavior of kubernetes is to
         * leave the `serviceAccount` / `serviceAccountName` value
         * unchanged unless explicitly overwritten with an empty
         * string. See linked issues tracing backward from:
         * https://github.com/kubernetes/kubernetes/issues/108208#issuecomment-1262269204
         * and also the "Note" callout at the end of this section:
         * https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-multiple-service-accounts
         */}}
      {{- if and .Values.rbac.create .Values.launcher.enabled }}
      {{ $serviceAccountName := default (include "rstudio-connect.fullname" .) .Values.rbac.serviceAccount.name }}
      serviceAccountName: {{ $serviceAccountName }}
      {{- else }}
      serviceAccountName: {{ .Values.rbac.serviceAccount.name | toString | quote }}
      {{- end }}
      {{- with .Values.pod.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers }}
      initContainers:
{{ toYaml .Values.initContainers | indent 8 }}
      {{- end }}
      containers:
      - name: connect
        {{- $defaultVersion := .Values.versionOverride | default $.Chart.AppVersion }}
        {{- $imageTag := .Values.image.tag | default (printf "%s%s" .Values.image.tagPrefix $defaultVersion )}}
        image: "{{ .Values.image.repository }}:{{ $imageTag }}"
        env:
        {{- if .Values.pod.haste }}
        - name: RSTUDIO_CONNECT_HASTE
          value: enabled
        {{- end }}
{{ include "rstudio-library.license-env" (dict "license" ( .Values.license ) "product" ("rstudio-connect") "envVarPrefix" ("RSC") "fullName" (include "rstudio-connect.fullname" .)) | indent 8 }}
        {{- if .Values.pod.env }}
{{ toYaml .Values.pod.env | indent 8 }}
        {{- end }}
        {{- if .Values.command }}
        command:
{{ toYaml .Values.command | indent 10 }}
        {{- else if .Values.launcher.enabled }}
        command:
          - tini
          - -s
          - --
        {{- end }}
        {{- if .Values.args }}
        args:
{{ toYaml .Values.args | indent 10 }}
        {{- else if .Values.launcher.enabled }}
        args:
          - /scripts/prestart.bash
          - /usr/local/bin/startup.sh
        {{- end }}
        imagePullPolicy: "{{ .Values.image.imagePullPolicy }}"
        ports:
        - containerPort: {{ .Values.pod.port }}
          name: http
        {{- if and .Values.prometheus.enabled (not .Values.prometheus.legacy) }}
        - containerPort: {{ .Values.prometheus.port }}
          name: metrics
        {{- end}}
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
          - name: rstudio-connect-config
            mountPath: "/etc/rstudio-connect/rstudio-connect.gcfg"
            subPath: "rstudio-connect.gcfg"
          {{- if .Values.launcher.enabled }}
          - name: rstudio-connect-config
            mountPath: "/etc/rstudio-connect/runtime.yaml"
            subPath: "runtime.yaml"
          - name: rstudio-connect-config
            mountPath: "/etc/rstudio-connect/launcher/launcher.kubernetes.profiles.conf"
            subPath: "launcher.kubernetes.profiles.conf"
          {{- if .Values.launcher.useTemplates }}
          - name: rstudio-connect-templates
            mountPath: "/var/lib/rstudio-connect-launcher/Kubernetes/rstudio-library-templates-data.tpl"
            subPath: "rstudio-library-templates-data.tpl"
          - name: rstudio-connect-templates
            mountPath: "/var/lib/rstudio-connect-launcher/Kubernetes/job.tpl"
            subPath: "job.tpl"
          - name: rstudio-connect-templates
            mountPath: "/var/lib/rstudio-connect-launcher/Kubernetes/service.tpl"
            subPath: "service.tpl"
          {{- end }}
          {{- if not .Values.launcher.useTemplates }}
          - name: overrides
            mountPath: "/mnt/job-json-overrides/"
          {{- end }}
          - name: rstudio-connect-prestart
            mountPath: "/scripts/"
          {{- end }}
          {{- if or .Values.sharedStorage.create .Values.sharedStorage.mount }}
          - name: rstudio-connect-data
            mountPath: "{{ .Values.sharedStorage.path }}"
            {{- if .Values.sharedStorage.subPath }}
            subPath: "{{ .Values.sharedStorage.subPath }}"
            {{- end }}
          {{- end }}
          {{ include "rstudio-library.license-mount" (dict "license" ( .Values.license )) | indent 10 }}
      {{- if .Values.pod.volumeMounts }}
          {{- toYaml .Values.pod.volumeMounts | nindent 10 }}
      {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if .Values.livenessProbe.enabled }}
          {{- $liveness := omit .Values.livenessProbe "enabled" }}
          {{- with $liveness }}
        livenessProbe:
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
        {{- if .Values.startupProbe.enabled }}
          {{- $startup := omit .Values.startupProbe "enabled" }}
          {{- with $startup}}
        startupProbe:
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
          {{- $readiness := omit .Values.readinessProbe "enabled" }}
          {{- with $readiness }}
        readinessProbe:
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
      {{- if and .Values.prometheus.legacy .Values.prometheusExporter.enabled }}
      - name: exporter
        image: "{{ .Values.prometheusExporter.image.repository }}:{{ .Values.prometheusExporter.image.tag }}"
        imagePullPolicy: "{{ .Values.prometheusExporter.image.imagePullPolicy }}"
        args:
          - "--graphite.mapping-config=/mnt/graphite/graphite-mapping.yaml"
        volumeMounts:
          - name: graphite-exporter-config
            mountPath: "/mnt/graphite"
        ports:
          - containerPort: 9108
            name: metrics
        {{- with .Values.prometheusExporter.resources }}
        resources:
          {{ toYaml . | nindent 10 }}
        {{- end }}
        securityContext:
          {{- toYaml .Values.prometheusExporter.securityContext | nindent 10 }}
      {{- end }}
      {{- if .Values.pod.sidecar }}
{{ toYaml .Values.pod.sidecar | indent 6 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.pod.terminationGracePeriodSeconds }}
      volumes:
      - name: rstudio-connect-config
        configMap:
          name: {{ include "rstudio-connect.fullname" . }}-config
      {{- if or .Values.sharedStorage.create .Values.sharedStorage.mount }}
      - name: rstudio-connect-data
        persistentVolumeClaim:
          claimName: {{default (print (include "rstudio-connect.fullname" .) "-shared-storage" ) .Values.sharedStorage.name }}
      {{- end }}
      {{ include "rstudio-library.license-volume" (dict "license" ( .Values.license ) "fullName" (include "rstudio-connect.fullname" .)) | indent 6 }}
      {{- if and .Values.prometheus.legacy .Values.prometheusExporter.enabled }}
      - name: graphite-exporter-config
        configMap:
          name: {{ include "rstudio-connect.fullname" . }}-graphite
          defaultMode: 0755
      {{- end }}
      {{- if .Values.pod.volumes }}
{{ toYaml .Values.pod.volumes | indent 6 }}
      {{- end }}
      {{- if .Values.launcher.enabled }}
      {{- if .Values.launcher.useTemplates }}
      - name: rstudio-connect-templates
        configMap:
          name: {{ include "rstudio-connect.fullname" . }}-templates
          defaultMode: 0644
      {{- end }}
      {{- if not .Values.launcher.useTemplates }}
      - name: overrides
        configMap:
          name: {{ include "rstudio-connect.fullname" . }}-overrides
          defaultMode: 0644
      {{- end }}
      - name: rstudio-connect-prestart
        configMap:
          name: {{ include "rstudio-connect.fullname" . }}-prestart
          defaultMode: 0755
      {{- end }}
---
