# Test values for rstudio-library-test harness
# These values are used by test templates to exercise library functions

# Config formatter test values
testConfig:
  gcfg:
    filename: test.gcfg
    config:
      section1:
        key1: value1
        key2: value2
      section2:
        arrayKey:
          - item1
          - item2
  ini:
    filename: test.ini
    config:
      section1:
        key1: value1
        key2: 123
  dcf:
    filename: test.dcf
    config:
      key1: value1
      nested:
        subkey: subvalue
  json:
    filename: test.json
    config:
      stringKey: stringValue
      numberKey: 42
      boolKey: true
      arrayKey:
        - item1
        - item2
  txt:
    filename: test.txt
    config:
      key1: value1
      key2: value2

# Ingress helper test values
testIngress:
  serviceName: test-service
  servicePort: 8080
  path: /test
  pathType: Prefix

# License helper test values
testLicense:
  licenseKey: "test-license-key"
  licenseServer: "license.example.com"
  licenseFile: |
    LICENSE CONTENT HERE

# RBAC test values
testRbac:
  serviceAccountCreate: true
  serviceAccountName: test-sa
  clusterRoleCreate: false
  namespace: test-namespace
  targetNamespace: test-target
  removeNamespaceReferences: false
  labels: {}
  annotations: {}

# Profiles test values
testProfiles:
  # Basic INI test
  basicIni:
    launcher.kubernetes.profiles.conf:
      "*":
        default-cpus: 1
        default-mem-mb: 512
      testuser:
        default-cpus: 2
  # Single file test
  singleFile:
    "*":
      job-name: default-job
    testuser:
      job-name: user-job
  # Collapse array test
  collapseArray:
    simple:
      - one
      - two
      - three
    targetFile:
      - target: pods
        file: /etc/config/pods.json
      - target: services
        file: /etc/config/services.json
  # Advanced profiles test
  advanced:
    data:
      launcher.kubernetes.profiles.conf:
        "*":
          default-cpus: 1
        testuser:
          default-cpus: 4
    jobJsonDefaults: []
    filePath: /etc/rstudio/

# Debug helper test values
testDebug:
  mapValue:
    key: value
  sliceValue:
    - item1
    - item2
  stringValue: "test string"
  boolValue: true

# Launcher template test values
testLauncherTemplates:
  templateName: test-template
  content:
    key1: value1
    key2: value2
    nested:
      subkey: subvalue

# Tplvalues test values
testTplvalues:
  staticValue: "static"
  templateValue: "{{ .Release.Name }}-suffix"
  objectValue:
    name: "{{ .Release.Name }}"
    namespace: "{{ .Release.Namespace }}"

# Chronicle agent test values
testChronicle:
  enabled: true
  serverAddress: "http://chronicle-server.default:8080"
  serverNamespace: ""
  image:
    registry: ghcr.io
    repository: rstudio/chronicle-agent
    tag: "1.0.0"
