---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "posit-chronicle.fullname" . }}
  namespace: {{ include "posit-chronicle.namespace" . }}
  labels:
    {{ include "posit-chronicle.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if or .Values.service.annotations .Values.commonAnnotations }}
  {{- $annotations := merge .Values.service.annotations .Values.commonAnnotations }}
  annotations:
    {{- with $annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  selector:
    {{ include "posit-chronicle.selectorLabels" . | trim | nindent 4 }}
  ports:
  {{- if .Values.server.https.enabled }}
  - port: {{ .Values.service.port }}
    targetPort: 443
    name: https
  {{- else }}
  - port: {{ .Values.service.port }}
    targetPort: 5252
    name: http
  {{- end }}
---
