name: Document Charts

on:
  pull_request:

jobs:
  document:
    runs-on: ubuntu-latest
    name: helm-docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: install Just
        uses: extractions/setup-just@v2

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        env:
          HELM_DOCS_VERSION: 1.13.1

      # checks for uncommitted changes to any generated READMEs
      - name: Git status check
        run: |
          ./tools/dev/check-uncommitted-changes.sh || \
          (echo "run 'just docs' and commit the result." && exit 1)

      - name: Notify Slack of chart documentation failure on main
        if: github.ref == 'refs/heads/main' && failure()
        uses: slackapi/slack-github-action@v1.27.0
        with:
          payload-delimiter: "_"
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Chart Documentation failed, please check the logs.  ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

  rbac:
    runs-on: ubuntu-latest
    name: rbac
    needs: document
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Add rstudio helm repo
        run: helm repo add rstudio https://helm.rstudio.com

      - name: install Just
        uses: extractions/setup-just@v2

      - name: Compute and update dependent files
        run: |
          just rbac

      # checks for uncommitted changes to any generated RBAC docs
      - name: Git status check
        run: |
          ./tools/dev/check-uncommitted-changes.sh || \
          (echo "run 'just rbac' and commit the result." && exit 1)

      - name: Notify Slack of chart documentation (rbac) failure on main
        if: github.ref == 'refs/heads/main' && failure()
        uses: slackapi/slack-github-action@v1.27.0
        with:
          payload-delimiter: "_"
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Chart Documentation (RBAC) failed, please check the logs.  ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
